#favorite-button{
	float: right;
	margin: 0 0.5ex;
}

#favorite-button a{
    text-decoration: none;
}

.portlet-favorites .portletItem a{
	line-height: 2em;
}

#favorite-button #favorite-button-text{
	display: none;
}